.navbar {
  display: flex;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Bungee', cursive;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right p {
  margin: 0
}

i.fa-angles-down {
  color: red;
}

@media only screen and (max-width: 768px){
  .navbar{
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  }
}

@media only screen and (min-width: 768px) {
  .navbar{
    position: fixed;
    background-color: #4056A1;
  }
}